@model List<AcunMedya.Restaurantly.Entities.Service>

<section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Hizmetlerimiz</h2>
            <p>Sizin Rahatlığınız bizim için çok önemli</p>
        </div>

        <div class="row">
            @foreach (var item in Model)
            {
    <div class="col-lg-4">
        <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span>@item.ServiceId</span>
            <h4>@item.Title</h4>
            <p>@item.Description</p>
        </div>
    </div>
            }
            

            @*<div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="200">
                    <span>02</span>
                    <h4>Repellat Nihil</h4>
                    <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
                </div>
            </div>

            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span>03</span>
                    <h4> Ad ad velit qui</h4>
                    <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
                </div>
            </div>*@

        </div>

    </div>
</section>